<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <ApplicationSettings>
    <add key="script1" value="1-WPBase_SQL.sql" />
    <add key="script2" value="2-WPBase_DATOS.sql" />
  </ApplicationSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>